html,body
{
  width:100%;
  height:auto;
  min-height:100%;
  overflow:auto;
  margin:0;
  padding:0;
}

body
{
  font-family:Roboto, sans-serif;
  min-height:100%;
  background:#A55540;
}

h1
{
  margin-top:0;
}

header
{
  height:100px;
  width:100%;
  margin:0;
}

footer
{
  position:relative;
  height:5%;
  width:100%;
  bottom:0;
  left:0;
  padding-top:5px;
  text-align:center;
  margin:0;
  background:#E1D5D2;
}

#headerContainer h1
{
  color:WHITE;
}

#bodyContainer
{
  position:relative;
  height:100%;
  width:100%;
  margin:0;
}

#loggInnBoks
{
  position:relative;
  width:30%;
  height:40%;
  border-radius:25px;
  margin:2.5% auto auto;
  padding:10px;
  background:#E79A58;
}

#aktivitetBoks
{
  position:relative;
  width:60%;
  height:70%;
  border-radius:25px;
  margin:2.5% auto auto;
  padding:10px;
  background:#E79A58;
}

input,select
{
  width:100%;
  display:inline-block;
  border:1px solid #ccc;
  border-radius:4px;
  box-sizing:border-box;
  margin:8px 0;
  padding:12px 20px;
}

.button
{
  width:100%;
  color:white;
  border:none;
  border-radius:25px;
  cursor:pointer;
  font-size:large;
  margin:8px 0;
  padding:14px 20px;
  background:#118C4E;
}

.button:hover
{
  background:#17B765;
}

.button:focus
{
  outline:0;
}

.buttonRed
{
  background:#AD2D39;
}

.buttonRed:hover
{
  background:#D33948;
}

nav
{
  border:1px solid #dedede;
  border-radius:4px;
  box-shadow:0 2px 2px -1px rgba(0,0,0,0.055);
  color:#888;
  display:block;
  overflow:hidden;
  width:90%;
  margin:0 22px 8px;
  background:#fff;
}

nav ul
{
  margin:0;
  padding:0;
}

nav ul li
{
  display:inline-block;
  list-style-type:none;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s;
}

nav > ul > li > a > .caret,nav > ul > li > div ul > li > a > .caret
{
  border-top:4px solid #aaa;
  border-right:4px solid transparent;
  border-left:4px solid transparent;
  content:"";
  display:inline-block;
  height:0;
  width:0;
  vertical-align:middle;
  -webkit-transition:color .1s linear;
  -moz-transition:color .1s linear;
  -o-transition:color .1s linear;
  transition:color .1s linear;
}

nav > ul > li > div ul > li > a > .caret
{
  border-bottom:4px solid transparent;
  border-top:4px solid transparent;
  border-right:4px solid transparent;
  border-left:4px solid #f2f2f2;
  margin:0 0 0 8px;
}

nav > ul > li > a
{
  color:#aaa;
  display:block;
  line-height:56px;
  text-decoration:none;
  padding:0 24px;
}

nav > ul > li:hover
{
  background:rgb(40,44,47);
}

nav > ul > li:hover > a
{
  color:rgb(255,255,255);
}

nav > ul > li:hover > a > .caret
{
  border-top-color:rgb(255,255,255);
}

nav > ul > li > div ul > li:hover > a > .caret
{
  border-left-color:rgb(255,255,255);
}

nav > ul > li > div,nav > ul > li > div ul > li > div
{
  border-top:0;
  border-radius:0 0 4px 4px;
  box-shadow:0 2px 2px -1px rgba(0,0,0,0.055);
  display:none;
  opacity:0;
  position:absolute;
  width:165px;
  visibility:hidden;
  -webkit-transiton:opacity .2s;
  -moz-transition:opacity .2s;
  -ms-transition:opacity .2s;
  -o-transition:opacity .2s;
  -transition:opacity .2s;
  margin:0;
  background:rgb(40,44,47);
}

nav > ul > li > div ul > li > div
{
  border-radius:0 4px 4px 4px;
  box-shadow:inset 2px 0 5px rgba(0,0,0,.15);
  margin-top:-42px;
  right:-165px;
  background:rgb(40,44,47);
}

nav > ul > li:hover > div,nav > ul > li > div ul > li:hover > div
{
  display:block;
  opacity:1;
  visibility:visible;
}

nav > ul > li > div ul > li,nav > ul > li > div ul > li > div ul > li
{
  display:block;
  position:relative;
}

nav > ul > li > div ul > li > a,nav > ul > li > div ul > li > div ul > li > a
{
  color:#fff;
  display:block;
  text-decoration:none;
  padding:12px 24px;
}

nav > ul > li > div ul > li:hover > a
{
  background:rgba(255,255,255,0.1);
}