* {
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: url("logo.png")
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100%;
    background-color: ghostwhite;
}

h1 {
    margin-top: 0;
}

header {
    position: relative;
    z-index: 10;
    height: 100px;
    width: 100%;
    margin: 0;
}

footer {
    position: relative;
    height: 5%;
    width: 100%;
    background: grey;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 5px;
    background-color: #E1D5D2;
    text-align: center;
<<<<<<< Updated upstream
}    

#loginfo
<<<<<<< HEAD
{
    
}

#logout
=======
>>>>>>> 94f68907ab05791c793d60c0fd1341eeb81f54be
{
    
=======
>>>>>>> Stashed changes
}

 #map 
{
    width: 300px;
    height: 300px;
    left: 850px;
}

#vulkanlogo {
    width: 50px;
    height: 50px;
    text-align: left;
}

#logout {
    background-color: darkred;
}

#login {
    background-color: lightblue;
}

#headerContainer {}

#headerContainer h1 {
    color: WHITE;
}

#bodyContainer {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
}

#footerContainer {}

#loggInnBoks {
    position: relative;
    margin: auto;
    margin-top: 2.5%;
    padding: 10px;
    width: 30%;
    height: 40%;
    background: #E79A58;
    border-radius: 25px;
}

#aktivitetBoks {
    position: relative;
    margin: auto;
    margin-top: 2.5%;
    padding: 10px;
    width: 60%;
    height: 70%;
    background: #E79A58;
    border-radius: 25px;
}

.inputTag {
    width: 50%;
}


/*Input forms*/

input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    background-color: #118C4E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: large;
}

.button:hover {
    background-color: #17B765;
}

.button:focus {
    outline: 0;
}

.buttonRed {
    background-color: #AD2D39;
}

.buttonRed:hover {
    background-color: #D33948;
}


/* Navigasjonsbar */

nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 0px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

nav > ul > li > a > .caret,
nav > ul > li > div ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

nav > ul > li > div ul > li > a > .caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid #f2f2f2;
    margin: 0 0 0 8px;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: rgb( 40, 44, 47);
}

nav > ul > li:hover > a {
    color: rgb( 255, 255, 255);
}

nav > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255);
}

nav > ul > li > div ul > li:hover > a > .caret {
    border-left-color: rgb(255, 255, 255);
}

nav > ul > li > div,
nav > ul > li > div ul > li > div {
    background-color: rgb( 40, 44, 47);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 165px;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

nav > ul > li > div ul > li > div {
    background-color: rgb( 40, 44, 47);
    border-radius: 0 4px 4px 4px;
    box-shadow: inset 2px 0 5px rgba(0, 0, 0, .15);
    margin-top: -42px;
    right: -165px;
}

nav > ul > li:hover > div,
nav > ul > li > div ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav > ul > li > div ul > li,
nav > ul > li > div ul > li > div ul > li {
    display: block;
    position: relative;
}

nav > ul > li > div ul > li > a,
nav > ul > li > div ul > li > div ul > li > a {
    color: #fff;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}

nav > ul > li > div ul > li:hover > a {
    background-color: rgba( 255, 255, 255, 0.1);
}