* {
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100%;
    background-color: #fafaff;
}

h1 {
    margin-top: 0;
}

h3 {
    text-align: center;
}

#maintext {
    position: initial;
    width: 60%;
    height: 90%;
    padding: 5px;
    margin: auto;
    border: 1px solid black;
}

header {
    position: relative;
    z-index: 10;
    height: 100px;
    width: 100%;
    margin: 0;
}

footer {
    position: relative;
    height: 8%;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-top: 5px;
    background: white;
    text-align: center;
}

#loginfo {}

#logout {}

#delta 
{
    border: 5px solid #6a6a6a;
}

#map {
    position: absolute;
    top: 100px;
    left: 800px;
    height: 40%;
    width: 30%;
    border: solid 1px black;
}

#mapaktivitet {
    position: relative;
    margin: auto;
    padding: 0;
    height: 300px;
    width: 300px;
}

#kalender {
    position: absolute;
    top: 420px;
    left: 1055px;
}

#vulkanlogo {
    width: 50px;
    height: 50px;
    text-align: left;
}

#katogorier {
    position: absolute;
    width: 125px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}

#topleft {
    padding-left: 185px;
    display: inline-block;
    left: 350px;
    top: 150px;
}

#topcenter {
    padding-left: 185px;
    display: inline-block;
    left: 700px;
    top: 150px;
}

#topright {
    padding-left: 185px;
    display: inline-block;
    left: 1100px;
    top: 150px;
}

#bottomleft {
    padding-left: 185px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    left: 350px;
    top: 550px;
}

#bottomcenter {
    padding-left: 185px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    left: 700px;
    top: 550px;
}

#bottomright {
    padding-left: 185px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    left: 1050px;
    top: 550px;
}

#textbox {
    width: 250px;
    height: 290px;
    text-align: left;
    padding-left: 3px;
    border: 1px solid black;
}

#vannbilde {
    width: 250px;
    height: 200px;
    border: 1px solid black;
}

#wrap {
    width: 125px;
    height: 100%;
}

#logout {
    background-color: darkred;
}

#login {
    background-color: lightblue;
}

#headerContainer {
    vertical-align: middle;
}

#headerContainer h1 {
    color: whitesmoke;
}

#bodyContainer {
    position: relative;
    min-height: 100%;
    width: 100%;
}

#footerContainer {}

#loggInnBoks {
    position: relative;
    margin: 2.5% auto auto;
    padding: 10px;
    width: 30%;
    height: 40%;
    border: 25px solid white;
}

#searchbox 
{
    margin: auto;
    vertical-align: middle;
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;
    width: 270px;
    padding: 1px;
    overflow: hidden;
    z-index: -10;
}

#search,
#submit {
    float: left;
}

#search {
    margin: auto;
    padding: 5px 9px;
    height: 23px;
    width: 180px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
}

#submit {
    margin: auto;
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    height: 23px;
    padding: 0px;
    width: 85px;
    cursor: pointer;
    font: bold 12px Arial, Helvetica;
    color: #23441e;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#submit:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}

#submit:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
    border: 0;
}

.inputTag {
    width: 50%;
}

#maintext {
    display: inline-block;
    top: 100px;
    left: 150px;
    width: 30%;
    height: 40%;
    text-align: left;
    border: 1px solid black;
}

#sosialemedier {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.so {

}

.so:hover {
    opacity: 0.7;
}

#aktivitetBoks
{
    position: relative;
    margin: 2.5% auto auto;
    padding: 10px;
    width: 30%;
    height: 70%;
}

#brukerBoks
{
    position: relative;
    margin: 2.5% auto auto;
    padding: 10px;
    width: 50%;
    height: 70%;
}

/*Input*/

input,
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

.button {
    width: 100%;
    background-color: lightblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: large;
}

.button:hover {
    background-color: #9cc6d4;
}

.button:focus {
    outline: 0;
}

.buttonRed {
    background-color: #AD2D39;
}

.buttonRed:hover {
    background-color: #D33948;
}

/* Aktivitetboks */
.AktivitetLitenBoks
{
    position: relative;
    display: inline-block;
    margin: 3px;
    padding: 5px;
    background: #d8d8d8;
    width: 300px;
    height: 450px;
    border: 1px solid black;
}

.AktivitetLitenBoks .bildeBoks
{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

.AktivitetLitenBoks .bildeBoksLag
{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #a8a8a8;
}

.AktivitetLitenBoks:hover .bildeBoksLag
{
    opacity: .5;
}

.AktivitetLitenBoks .Tittel
{
    position: absolute;
    margin: 0;
    width: 50%;
    height: 10%;
    top: 40%;
    left: 0;
    text-align: center;
    font-size: 1vw;
}

.AktivitetLitenBoks .Utgiver
{
    position: absolute;
    margin: 0;
    padding: 2px;
    width: 50%;
    height: 10%;
    top: 40%;
    left: 50%;
    text-align: right;
}

.AktivitetLitenBoks .Dato
{
    position: absolute;
    margin: 0;
    padding: 2px;
    width: 70%;
    height: 5%;
    top: 50%;
    left: 0%;
    text-align: left;
}

.AktivitetLitenBoks .Likes
{
    position: absolute;
    margin: 0;
    padding: 2px;
    width: 30%;
    height: 5%;
    top: 50%;
    left: 70%;
    text-align: right;
}

.AktivitetLitenBoks .Ikoner
{
    height: 100%;
    vertical-align: middle;
}

.AktivitetLitenBoks .Beskrivelse
{
    position: absolute;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 35%;
    top: 55%;
    left: 0;
    overflow-y: hidden;
}

.AktivitetLitenBoks .Pris
{
    position: absolute;
    margin: 0;
    padding: 2px;
    width: 100%;
    height: 10%;
    top: 90%;
    left: 0;
    font-size: x-large;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: #51d351;
}


/* Navigasjonsbar */
nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 0px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

nav > ul > li > a > .caret,
nav > ul > li > div ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

nav > ul > li > div ul > li > a > .caret {
    border: 4px solid transparent;
    border-left-color: #f2f2f2;
    margin: 0 0 0 8px;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: rgb( 40, 44, 47);
}

nav > ul > li:hover > a {
    color: rgb( 255, 255, 255);
}

nav > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255);
}

nav > ul > li > div ul > li:hover > a > .caret {
    border-left-color: rgb(255, 255, 255);
}

nav > ul > li > div,
nav > ul > li > div ul > li > div {
    background-color: rgb( 40, 44, 47);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 165px;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

nav > ul > li > div ul > li > div {
    background-color: rgb( 40, 44, 47);
    border-radius: 0 4px 4px 4px;
    box-shadow: inset 2px 0 5px rgba(0, 0, 0, .15);
    margin-top: -42px;
    right: -165px;
}

nav > ul > li:hover > div,
nav > ul > li > div ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav > ul > li > div ul > li,
nav > ul > li > div ul > li > div ul > li {
    display: block;
    position: relative;
}

nav > ul > li > div ul > li > a,
nav > ul > li > div ul > li > div ul > li > a {
    color: #fff;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}

nav > ul > li > div ul > li:hover > a {
    background-color: rgba( 255, 255, 255, 0.1);
}