html
{
    position: relative;
    min-height: 100%;
}

body
{
    margin: 0 0 100px; 
    background-color: aqua;
}

footer 
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%; 
}    

#headerContainer
{
  
}

#headerContainer h1
{
    color: green;
}

#bodyContainer
{
   
}

#footerContainer
{
   
}