html
{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    margin: 0; 
    padding: 0;
    width: 100%;
    background-color: bisque;
}

h1 
{
    margin-top: 0;
}

header
{
    height: 100px;
    width: 100%; 
    margin: 0;
    background: grey;
}

footer 
{
    position: relative;
    height: 50px;
    width: 100%; 
    background: grey;
}    

#headerContainer
{
  
}

#headerContainer h1
{
    color: WHITE;
}

#bodyContainer
{
    position: relative;
    margin: 0;
    height: 100%;
}

#footerContainer
{

}