html
{
    position: relative;
    min-height: 100%;
}

body
{
    margin: 0 0 100px; 
    background-color: bisque;
    
}

footer 
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%; 
    background: grey;
}    

header
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%; 
    margin: 0;
    background: grey;
}

#headerContainer
{
  
}

#headerContainer h1
{
    color: green;
}

#bodyContainer
{
   
}

#footerContainer
{

}